<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<meta charset="utf-8">

<head th:include="include :: header"></head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-otherWorkflow-add">
            <div class="form-group">
                <label class="col-sm-2 control-label">名子：</label>
                <div class="col-sm-4">
                    <input id="cnName" name="cnName" class="form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">编号：</label>
                <div class="col-sm-4">
                    <input id="enName" name="enName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">开始日期：</label>
                <div class="col-sm-4">
                    <input type="text" class="time-input form-control" id="startTime" placeholder="开始时间" name="startTime" />
                </div>
                <label class="col-sm-2 control-label">〜结束日期：</label>
                <div class="col-sm-4">
                    <input type="text" class="time-input form-control" id="endTime" placeholder="结束时间" name="endTime" />
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-2 control-label">周一上班时间：</label>
                <div class="col-sm-4">
                    <input id="onMon" name="onMon" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offMon" name="offMon" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周二上班时间：</label>
                <div class="col-sm-4">
                    <input id="onTue" name="onTue" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offTue" name="offTue" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周三上班时间：</label>
                <div class="col-sm-4">
                    <input id="onWeb" name="onWeb" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offWeb" name="offWeb" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周四上班时间：</label>
                <div class="col-sm-4">
                    <input id="onThu" name="onThu" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offThu" name="offThu" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周五上班时间：</label>
                <div class="col-sm-4">
                    <input id="onFri" name="onFri" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offFri" name="offFri" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周六上班时间：</label>
                <div class="col-sm-4">
                    <input id="onSat" name="onSat" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offSat" name="offSat" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">周日上班时间：</label>
                <div class="col-sm-4">
                    <input id="onSun" name="onSun" class="my-time form-control" type="text">
                </div>
                <label class="col-sm-2 control-label">下班时间：</label>
                <div class="col-sm-4">
                    <input id="offSun" name="offSun" class="my-time form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <label class="radio-box"> <input type="radio" name="status" value="true" checked /> 正常 </label>
                    <label class="radio-box"> <input type="radio" name="status" value="false" /> 停用 </label>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-3 control-label">员工：</label>
                <div class="col-sm-8">
                    <label th:each="emp:${emps}" class="check-box">
                        <input name="empIds" type="checkbox" th:value="${emp.id}" th:text="${emp.cnName}" th:disabled="${emp.status != 'true'}" >
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
    var prefix = ctx + "wx/otherWorkflow"
    $("#form-otherWorkflow-add").validate({
        onkeyup: false,
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            // $.operate.save(prefix + "/addDo", $('#form-otherWorkflow-add').serialize());
            //$.modal.alertError("参数错误");

            var obj = {};
            var form = $('#form-otherWorkflow-add');
            $.each(form.serializeArray(), function(index) {
                if (obj[this['name']]) {
                    obj[this['name']] = obj[this['name']] + "," + this['value'];
                } else {
                    obj[this['name']] = this['value'];
                }
            });

            console.log(obj);
            obj.status = $("input[name='status']").is(':checked') == true ? true : false;
            $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/addDo",
                data: obj,
                async: false,
                error: function(request) {
                    $.modal.alertError("系统错误");
                },
                success: function(data) {
                    $.operate.successCallback(data);
                }
            });
        }
    }

    $(function() {


        layui.use('laydate', function() {
            var laydate = layui.laydate;
            var times = $(".my-time");
            for (var i = 0; i < times.length; i++) {
                var time = times[i];
                laydate.render({
                    elem: time,
                    theme: 'molv',
                    trigger: 'click',
                    type: 'time',
                    done: function(value, date) {}
                });
            }
        });

    })
    </script>
</body>

</html>