<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								名子：<input type="text" name="name"/>
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wx:otherWorkflow:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="wx:otherWorkflow:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wx:otherWorkflow:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wx:otherWorkflow:export">
						<i class="fa fa-download"></i> 导出
				 </a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "wx/otherWorkflow";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "运维班组",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'cnName', 
					title : '名子',
					sortable: true
				},
				{
					field : 'enName', 
					title : '编号',
					sortable: true
				},
				{
					field : 'start_end_time', 
					align: 'center',

					title : '班组计划:开始时间-结束时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.startTime );
                        actions.push("<br>~<br>");
                        actions.push(row.startTime);
						return actions.join('');
		            }
				},
				// {
				// 	field : 'endTime', 
				// 	title : '班组计划结束时间',
				// 	sortable: true
				// },
				{
					field : 'mon', 
					align: 'center',
					title : '周一上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onMon );
                        actions.push("<br>~<br>");
                       actions.push(row.offMon);
						return actions.join('');
		            }
				},
				{
					field : 'tue', 
					align: 'center',
					title : '周二上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onTue );
                        actions.push("<br>~<br>");
                        actions.push(row.offTue);
						return actions.join('');
		            }
				},
				{
					field : 'web', 
					align: 'center',
					title : '周三上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onWed);
                         actions.push("<br>~<br>");
                       actions.push(row.offWed);
						return actions.join('');
		            }
				},
				{
					field : 'thu', 
					align: 'center',
					title : '周四上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onThu );

		            	actions.push("<br>~<br>");

                        actions.push(row.offThu);
						return actions.join('');
		            }
				},
				{
					field : 'fri', 
					align: 'center',
					title : '周五上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onFri );
                        actions.push("<br>~<br>");
                        actions.push(row.offFri);
						return actions.join('');
		            }
				},
				{
					field : 'sat', 
					align: 'center',
					title : '周六上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onSat );
                         actions.push("<br>~<br>");
                       actions.push(row.offSat);
						return actions.join('');
		            }
				},
				{
					field : 'sun', 
					align: 'center',
					title : '周日上班时间',
					 formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push(row.onSun );
                        actions.push("<br>~<br>");
                        actions.push(row.offSun);
						return actions.join('');
		            }
				},

				// {
				// 	field : 'offMon', 
				// 	title : '周一下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onTue', 
				// 	title : '周二上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offTue', 
				// 	title : '周二下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onWed', 
				// 	title : '周三上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offWed', 
				// 	title : '周三下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onThu', 
				// 	title : '周四上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offThu', 
				// 	title : '周四下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onFri', 
				// 	title : '周五上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offFri', 
				// 	title : '周五下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onSat', 
				// 	title : '周六上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offSat', 
				// 	title : '周六下班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'onSun', 
				// 	title : '周日上班时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'offSun', 
				// 	title : '周日下班时间',
				// 	sortable: true
				// },
				{
					field : 'status', 
					title : '状态',
					sortable: true
				},
				// {
				// 	field : 'delflag', 
				// 	title : '删除',
				// 	sortable: true
				// },
				// {
				// 	field : 'createBy', 
				// 	title : '创建者',
				// 	sortable: true
				// },
				// {
				// 	field : 'createTime', 
				// 	title : '建立时间',
				// 	sortable: true
				// },
				// {
				// 	field : 'updateBy', 
				// 	title : '更新者',
				// 	sortable: true
				// },
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs " href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs " href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>