.device-add-basic-information-box {
	.title {
		color: #ffffff;
		font-size: 20px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		background-color: #1875f0;
	}
	.descriptions {
		box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.08);
		.upload {
			display: flex;
			.ant-upload-list {
				flex-grow: 1;
			}
		}
		.ant-descriptions-view .ant-descriptions-item-label {
			width: 180px;
			text-align: right;
		}
	}
	.check-error {
		border-color: red;
		input {
			border-color: red;
		}
		button {
			border-color: red;
		}
	}
}
