<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-gateway-edit">
        <input id="id" name="id" th:value="${gateway.id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">中文名：</label>
            <div class="col-sm-8">
                <input id="cnName" name="cnName" th:value="${gateway.cnName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">编码：</label>
            <div class="col-sm-8">
                <input id="label" name="enName" th:value="${gateway.enName}" class="form-control" type="text">
            </div>
        </div>




    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "iot/gateway";
    $("#form-gateway-edit").validate({
        onkeyup: false,
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/editDo", $('#form-gateway-edit').serialize());
        }
    }
</script>
</body>
</html>
