<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-edit" >
			<input  type="hidden" id="id" name="id" th:value="${location.id}" />
			
			<div class="form-group">
				<label class="col-sm-3 control-label ">父地域：</label>
				<div class="col-sm-8">
					<input id="treeId" name="parentId" type="hidden"th:value="${location.parentId}" />
					<input class="form-control" type="text" onclick="selectLocationTree()" id="treeName" readonly="true" th:value="${location.parentName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="cnName"  th:value="${location.cnName}"   id="cnName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">编码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="enName"  th:value="${location.enName}"  id="enName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">经度：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="lng" th:value="${location.lng}"  id="lng" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">纬度：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="lat"th:value="${location.lat}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <label class="radio-box"> <input type="radio" name="status" value="true"  th:checked="'true'==${location.status}" /> 正常 </label>
                    <label class="radio-box"> <input type="radio" name="status" value="false" th:checked="'false'==${location.status}" /> 停用 </label>
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">会议室介绍：</label>
				<div class="col-sm-8">
					<textarea class="form-control"  name="context" th:text="#{location.context}"></textarea>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		var prefix = ctx + "iot/location";
		
		$("#form-edit").validate({
			onkeyup: false,
			rules:{
				cnName:{
					required:true,
					remote: {
		                url: prefix + "/checkLocationNameUnique",
		                type: "post",
		                dataType: "json",
		                data: {
		                	"parentId": function() {
		                		return $("input[name='parentId']").val();
		                    },
		                	"name" : function() {
		                        return $.common.trim($("#cnName").val());
		                    }
		                },
		                dataFilter: function(data, type) {
		                	return data;
		                }
		            }
				}

			},
			messages: {
		        "cnName": {
		            remote: "地区已经存在"
		        }
		    }
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/editDo", $('#form-edit').serialize());
	        }
	    }
	
		/*地理管理-新增-选择父部门树*/
		function selectLocationTree() {
			var locationid = $("#treeId").val();
			if(locationid > 0) {
			    var options = {
                title: '地区选择',
					width: "380",
					url: prefix + "/selectTree/" + $("#treeId").val(),
					callBack: doSubmit
				};
				$.modal.openOptions(options);
			} else {
        		$.modal.alertError("父部门不能选择");
        	}
		}
		
		function doSubmit(index, layero){
			var tree = layero.find("iframe")[0].contentWindow.$._tree;
			if ($.tree.notAllowLastLevel(tree)) {
	   			var body = layer.getChildFrame('body', index);
	   			$("#treeId").val(body.find('#treeId').val());
	   			$("#treeName").val(body.find('#treeName').val());
	   			layer.close(index);
			}
		}
	</script>
</body>
</html>
