<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" lang="zh">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-tUiMetrics-add">
		<div class="form-group">
			<label class="col-sm-3 control-label">名称：</label>
			<div class="col-sm-8">
				<input id="cnName" name="cnName" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">编码：</label>
			<div class="col-sm-8">
				<input id="enName" name="enName" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">类型：</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="deptName" onclick="selectDeptTree()" readonly="true" id="treeName">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">指标最大值：</label>
			<div class="col-sm-8">
				<input id="maxValue" name="maxValue" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">指标最小值：</label>
			<div class="col-sm-8">
				<input id="minValue" name="minValue" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">指标单位：</label>
			<div class="col-sm-8">
				<input id="unit" name="unit" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">一键寻检：</label>
			<div class="col-sm-8">
				<div class="onoffswitch">
					<input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="viewMetrics" name="viewMetrics">
					<label class="onoffswitch-label" for="status">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">开关指标：</label>
			<div class="col-sm-8">
				<div class="onoffswitch">
					<input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="viewTable" name="viewTable">
					<label class="onoffswitch-label" for="status">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">图表：</label>
			<div class="col-sm-8">
				<div class="onoffswitch">
					<input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="viewGraph" name="viewGraph">
					<label class="onoffswitch-label" for="status">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">正常提示：</label>
			<div class="col-sm-8">
				<input id="enumTrue" name="enumTrue" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">异常提示：</label>
			<div class="col-sm-8">
				<input id="enumFalse" name="enumFalse" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">状态：</label>
			<div class="col-sm-8">
				<div class="onoffswitch">
					<input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="status" name="status">
					<label class="onoffswitch-label" for="status">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</div>



		<div class="form-group">
			<label class="col-sm-3 control-label">指标展示顺序：</label>
			<div class="col-sm-8">
				<input id="orderNum" name="orderNum" class="form-control" type="text">
			</div>
		</div>
	</form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/assets/plugins/select/select2.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "wx/tUiMetrics"
    $("#form-tUiMetrics-add").validate({
        onkeyup: false,
        rules:{
            xxxx:{
                required:true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/addDo", $('#form-tUiMetrics-add').serialize());
        }
    }
    /*用户管理-新增-选择部门树*/
    function selectDeptTree() {

        var options = {
            title: '选择部门',
            width: "380",
            url: ctx + "iot/kind/selectTree/100000" ,
            callBack: doSubmit,
            expandFirst:false
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>
