<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<meta charset="utf-8" />
	<head th:include="include :: header"></head>
	<body class="gray-bg">
		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="formId">
						<div class="select-list">
							<ul>
								<li>资产名称：<input type="text" name="cnName" /></li>

								<li>资产编码：<input type="text" name="enName" /></li>

								<li>
									资产状态：<select name="assetStatus">
										<option value="">所有</option>
										<option value="2">正常</option>
										<option value="0">停用</option>
									</select>
								</li>

								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
									<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>

				<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
					<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wx:tIotDevices:add"> <i class="fa fa-plus"></i> 添加 </a>
					<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="wx:tIotDevices:edit"> <i class="fa fa-edit"></i> 修改 </a>
					<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wx:tIotDevices:remove"> <i class="fa fa-remove"></i> 删除 </a>
					<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wx:tIotDevices:export">
						<i class="fa fa-download"></i> 导出
				 </a>-->
				</div>
				<div class="col-sm-12 select-table table-striped">
					<table id="bootstrap-table" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
		<div th:include="include :: footer"></div>
		<script th:inline="javascript">
			var prefix = ctx + 'wx/tIotDevices';

			$(function() {
				var options = {
					url: prefix + '/list',
					createUrl: prefix + '/add',
					updateUrl: prefix + '/edit/{id}',
					removeUrl: prefix + '/remove',
					exportUrl: prefix + '/export',
					modalName: '设备资本',
					search: false,
					showExport: true,
					columns: [
						{
							checkbox: true
						},
						{
							field: 'id',
							title: '',
							formatter: function(value, row, index) {
								return "<input type='hidden' value='" + row.id + "' />";
							}
						},
						{
							field: 'cnName',
							title: '资产名称',
							sortable: true
						},
						{
							field: 'sno',
							title: '设备序列号',
							sortable: true
						},
						{
							field: 'ip',
							title: '设备ip',
							sortable: true
						},
						{
							field: 'dept.deptName',
							title: '所述机构'
						},
						{
							field: 'kindmap',
							title: '生产厂家',
							sortable: true
						},
						{
							title: '设备类型',
							// field: 'kind',
							sortable: true
						},

						{
							field: 'kind.cnName',
							title: '设备型号',
							sortable: true
						},
						{
							field: 'orderTime',
							title: '投运日期',
							sortable: true
						},

						{
							field: 'assetStatus',
							title: '运行状态',
							sortable: true,
							align: 'center',
							formatter: function(value, row, index) {
								if (value == '2') {
									return '<span class=" text-primary"  onclick="change(this)">正常</span>';
								}
								return '<span class=" text-danger" onclick="change(this)" >停用</span>';
							}
						},
						{
							// field: 'enName',
							title: '软件版本',
							sortable: true
						},

						// {
						// 	field: 'id',
						// 	title: 'id',
						// 	visible: false
						// },

						// {
						// 	field: 'price',
						// 	title: '价格',
						// 	sortable: true
						// },

						/*

				{
					field : 'gatewayExtsno',
					title : '检查时间',
					sortable: true ,
			                 formatter: function(value, row, index) {
			                     var actions = [];
			                     var v ="";
			                     if(value){
			                          v = value.substring(0,10);
			                         actions.push('<a class="btn btn-success btn-xs " href="#" onclick="change(this)">时间：'+v+'</a> ');

			                     }
			                     return actions.join('');
			                 }

				},
				*/

						{
							title: '操作',
							align: 'center',
							formatter: function(value, row, index) {
								var actions = [];
								actions.push('<a class="btn btn-success btn-xs " href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
								actions.push('<a class="btn btn-danger btn-xs " href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
								return actions.join('');
							}
						}
					]
				};
				$.table.init(options);
			});

			function change(it) {
				var id = $(it)
					.parents('tr')
					.find('td>input[type=hidden]')
					.val();

				$.ajax({
					url: prefix + '/change?id=' + id,
					type: 'get',
					success: function(data) {
						$.table.refresh();
					}
				});
			}
		</script>
	</body>
</html>
