<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8" />
	<head th:include="include :: header"></head>
	<body class="white-bg">
		<div class="wrapper wrapper-content animated fadeInRight ibox-content">
			<form class="form-horizontal m" id="form-tOtherMessages-edit">
				<input id="id" name="id" th:value="${tOtherMessages.id}" type="hidden" />
				<div class="form-group">
					<label class="col-sm-3 control-label">内容：</label>
					<div class="col-sm-8">
						<input id="message" name="message" th:value="${tOtherMessages.message}" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">sno：</label>
					<div class="col-sm-8">
						<input id="sno" name="sno" th:value="${tOtherMessages.sno}" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">名称：</label>
					<div class="col-sm-8">
						<input id="cnName" name="cnName" th:value="${tOtherMessages.cnName}" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">编码：</label>
					<div class="col-sm-8">
						<input id="enName" name="enName" th:value="${tOtherMessages.enName}" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-8">
						<input id="status" name="status" th:value="${tOtherMessages.status}" class="form-control" type="text" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label ">组织：</label>
					<div class="col-sm-8">
						<input id="deptid" name="deptId" type="hidden" th:value="${tOtherMessages.deptId}" />
						<input class="form-control" type="text" onclick="selectDept()" id="deptName" readonly="true" th:value="${tOtherMessages.dept.deptName}" shiro:hasPermission="wx:tIotDevices:admin" />
						<div th:text="${tOtherMessages.dept.deptName}" shiro:lacksPermission="wx:tIotDevices:admin"></div>
					</div>
				</div>
			</form>
		</div>
		<div th:include="include::footer"></div>
		<script type="text/javascript">
			var prefix = ctx + 'wx/tOtherMessages';
			$('#form-tOtherMessages-edit').validate({
				onkeyup: false,
				rules: {
					xxxx: {
						required: true
					}
				}
			});

			function submitHandler() {
				if ($.validate.form()) {
					$.operate.save(prefix + '/editDo', $('#form-tOtherMessages-edit').serialize());
				}
			}
			// 选择组织
			function selectDept() {
				var options = {
					title: '选择组织',
					width: '380',
					url: '/sys/dept/selectTree/100', //+ "/selectDept/100"),
					callBack: function(index, layero) {
						var body = layer.getChildFrame('body', index);
						$('#deptid').val(body.find('#treeId').val());
						$('#deptName').val(body.find('#treeName').val());
						layer.close(index);
					}
				};
				$.modal.openOptions(options);
			}

			/*地理管理-新增-选择父部门树*/
			function selectKindTree() {
				var options = {
					title: '地区选择',
					width: '380',
					url: '/' + 'iot/kind' + '/selectTree/' + $('#kindId').val(),
					callBack: function(index, layero) {
						var body = layer.getChildFrame('body', index);
						$('#kindId').val(body.find('#treeId').val());
						$('#kindName').val(body.find('#treeName').val());
						layer.close(index);
					}
				};
				$.modal.openOptions(options);
			}
		</script>
	</body>
</html>
